<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://fr.web.img5.acsta.net/medias/nmedia/18/68/80/53/19737342.jpg);">
  <div class="container h-100 align-text-bottom text-white ">
     <h1> Watch list </h1>
    <p> Keep your movies organized, popcorn ready and choices good</p>
  </div>
</div>
<div class="container py-5">
  <div class='d-flex align-items-center justify-content-between mb-4'>
  <h1>My lists</h1>
  </div>
  <div class="lists row">
    <% @lists.each do |list| %>
  <div class="list col-12 col-sm-6 mb-4" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path list.photo.key, height: 300, crop: :fill %>)">
     <%=link_to list_path(list.id), class: "titles_lists" do  %>
        <h2><%= list.name %></h2>
  </div>
     <% end %>
    <% end %>
</div>
</div>
