<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container h-100 align-text-bottom text-white">
     <h1> Watch list </h1>
    <p> Keep your movies organized, popcorn ready and choices good</p>
  </div>
</div>
<div class="container py-5">
  <div class='d-flex align-items-center justify-content-between mb-4'>
  <h1>my Lists</h1>
  <%= link_to "create a movie list", new_list_path, class: "btn btn-success"%>
  </div>
  <div class="lists">
    <% @lists.each do |list| %>
  <div class="list" style="background-image:linear-gradient(rgbs(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.augustman.com/wp-content/uploads/sites/2/2021/12/31223621/harry-potter.jpeg?tr=w-1366)">
     <%=link_to list_path(list.id), class: "titles_lists" do  %>
        <h2><%= list.name %></h2>
  </div>
     <% end %>
    <% end %>
</div>
</div>
